/*
	COLOUR PALETTE
	navy blue: #1E426E
	light grey: #F5F5F5
	white: #FFFFFF
	light blue: #E8F4F9
	grey border: #E2E2E2

	(colors for hover states)
	light green: #78A04D
	blue: #2A5EA5
*/

body {
	margin: 0;
    font-family: 'Arial', sans-serif;
	background-color: #FFFFFF;
	min-width: 26.25rem;
}

/* reset ul and a */
ul {
	list-style-type: none;
	padding: 0;
}

a {
	text-decoration: none;
}

/* page header */
.top-menu-bar {
	background-color: #1E426E;
}

.top-menu-list {
	margin: 0;
	padding: 0;
	color: #FFFFFF;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: repeat(1, 1fr);
	background-color: #1E426E;
	justify-content: center;
}

.top-menu-list-item a {
	text-transform: uppercase;
	font-size: 0.8rem;
	padding: 0.5rem;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
}

.top-menu-list-item {
	border-left: 1px solid white;
	border-right: 1px solid white;
}

.top-menu-list a:visited,
.top-menu-list a:link {
	color: #FFFFFF;
}

.top-menu-list-item a:hover{
	background-color: #78A04D;
}

h1 {
	text-transform: uppercase;
	color: #1E426E;
	text-align: center;
	font-weight:bolder;
	padding: 0.5rem;
}

.main-menu-list {
	text-transform: uppercase;
	font-weight:bold;
	display: flex;
	justify-content: space-around;
	padding: 0.5rem;
}

.main-menu-list a:visited,
.main-menu-list a:link {
	color: #1E426E;
}

.main-menu-list a:hover {
	color: #78A04D;
	text-decoration: underline solid #78A04D;
}

.banner img {
	width: 100vw;
	min-width: 26.25rem;
}

/* page footer */
.page-footer {
	background-color: #E8F4F9;
	padding: 1rem;
}

.footer-list {
	display: flex;
	justify-content: space-evenly;
	margin-top: 1rem;
}

.footer-list a:visited,
.footer-list a:link {
	color: #2A5EA5;
}

.footer-list a:hover {
	color: #78A04D;
}

/* Community */
.community h2 {
	text-align: center;
	padding: 1rem;
}

.community p:nth-of-type(odd) {
	font-weight: bold;
}

.community p {
	padding: 1rem;
}

.tile {
	padding: 1rem;
	display: flex;
	flex-direction: column;
	overflow: hidden;
}

.tile h3 {
	padding: 1rem;
	font-size: 1rem;
	font-weight: lighter;
	grid-row: 1/2;
	background-color: #1E426E;
}

.tile img {
	width: 100%;
	height: 100%;
	object-fit:cover;
}

.tile a:visited,
.tile a:link {
	color: #FFFFFF;
}

.tile a:hover h3 {
	background-color: #2A5EA5;
}

.community-background {
	padding: 1rem;
	background-image: url("../img/building-stronger.png");
	background-size: cover;
}

.community-transparent {
	padding: 1rem;
	background-color: rgba(255, 255, 255, 0.8)
}

.community-transparent h3 {
	text-align: center;
	font-size: 1.7rem;
	text-transform: uppercase;
	padding: 1rem;
}

.community-transparent p {
	padding: 0.5rem;
}

/* Your Home */
.your-home-grid {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: repeat(3, 1fr);
}

.img-right,
.img-left {
	display: grid;
	padding: 1rem;
	gap: 0.5rem;
}

.your-home-article h2 {
	padding: 1rem;
	text-transform: uppercase;
	text-align: center;
}

.your-home-article p {
	padding-top: 1rem;
}

.your-home-article img {
	width: 100%
}

.your-home-article a:link,
.your-home-article a:visited{
	color: #2A5EA5;
}

.your-home-article a:hover {
	color: #78A04D;
}

.text-link a:link,
.text-link a:visited{
	color: #2A5EA5;
}

.text-link a:hover {
	color: #78A04D;
}

.additional-help {
	background-color: #F5F5F5;
	padding: 1rem;
}

.additional-help h2 {
	text-transform: uppercase;
	padding: 1rem;
	text-align: center;
}

.help-box {
	background-color: #FFFFFF;
	margin-top: 1.5rem;
	border: 1px solid #E2E2E2;
	text-align: center;
}

.help-box h3 {
	text-transform: uppercase;
	font-weight: normal;
	font-size: 1rem;
	padding-top: 2rem;
}

.help-box a:link,
.help-box a:visited{
	color: #2A5EA5;
}

.help-box a:hover {
	color: #78A04D;
}

.help-box p {
	padding: 1rem 0 2rem 0;
}

/* Home Page */
.index-nav-container {
	background-color: #E8F4F9;
}

.index-navigation {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: repeat(3, 1fr);
	background-color: #E8F4F9;
	gap: 1rem;
	padding: 1rem;
	justify-content: center;
	align-items: center;
}

.index-navigation a {
	background-color: #FFFFFF;
	padding: 0.5rem;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	border: 1px solid #E2E2E2;
}

.index-navigation a:link,
.index-navigation a:visited{
	color: #2A5EA5;
}

.index-navigation a:hover {
	color: #FFFFFF;
	background-color: #2A5EA5;
}

.todays-energy {
	padding: 1rem;
	text-align: center;
}

.todays-energy p {
	padding: 0.5rem;
}

.index-faux-button p {
	background-color: #1E426E;
	border: 1px solid #1E426E;
}

.index-faux-button a:link,
.index-faux-button a:visited{
	color: #FFFFFF;
}

.index-faux-button a:hover p {
	color: #1E426E;
	background-color: #E8F4F9;
}

.by-the-numbers {
	padding: 1rem;
	text-align: center;
}

.by-the-numbers p {
	padding: 0.5rem;
}

.by-the-numbers-text p:nth-of-type(odd) {
	font-weight: bold;
	font-size: 2rem;
}

@media screen and (min-width: 37.5rem) {
	.header-menu {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	.main-menu-list li {
		padding: 0.5rem;
	}

	.community-grid {
		display: flex;
		flex-direction: row;
	}

	.tile {
		flex-direction: column-reverse;
	}

	.community-grid img {
		width: 30vw;
	}

	.community-container {
		display: flex;
		justify-content: end;
	}
	
	.community-transparent {
		max-width: 35rem;
	}

	.index-navigation {
		grid-template-columns: repeat(3, 1fr);
		grid-template-rows: repeat(2, 1fr);
	}

	.energy-stats-container {
		display: flex;
		padding: 1rem;
		gap: 1rem;
	}

	.todays-energy {
		border: 1px solid #F5F5F5;
		width: calc(100% - 25rem)
	}

	.by-the-numbers {
		border: 1px solid #F5F5F5;
		background-color: #F5F5F5;
		width: 30rem;
	}

	.your-home-grid {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		grid-template-rows: repeat(2, 1fr)
	}

	.img-left {
		display: grid;
		grid-template-columns: 1fr 1fr;
		align-items: center;
	}

	.img-left img {
		grid-column: 1/2;
	}

	.img-left p,
	.img-left a {
		grid-column: 2/3;
	}

	.img-right {
		display: grid;
		grid-template-columns: 1fr 1fr;
		align-items: center;
	}

	.img-right p,
	.img-right a {
		grid-column: 1/2;
	}

	.img-right img {
		grid-column: 2/3;
		order: 1
	}

	.additonal-help-container {
		display: flex;
		justify-content: space-around;
	}

	.help-box {
		padding: 1rem;
		width: 25vw;
	}
}

@media screen and (min-width: 64rem) {
	.top-menu-list {
		display: flex;
		justify-content: end;
	}

	.index-navigation {
		grid-template-columns: repeat(6, 1fr);
		grid-template-rows: repeat(1, 1fr);
	}
}

@media screen and (min-width: 80rem) {
	.help-box {
		width: 20rem;
	}

	.additonal-help-container,
	.your-home-article,
	.your-home-grid,
	.energy-stats-container,
	.index-navigation,
	.footer-container,
	.community-container,
	.header-menu,
	.top-menu-list,
	.community {
		max-width: 80rem;
		margin: 0 auto;
	}
}