/*
	COLOUR PALETTE
	navy blue: #1E426E
	light grey: #F5F5F5
	white: #FFFFFF
	light blue: #E8F4F9
	grey border: #E2E2E2

	(colors for hover states)
	light green: #78A04D
	blue: #2A5EA5
*/

body {
	margin: 0;
    font-family: 'Arial', sans-serif;
	background-color: #FFFFFF;
	min-width: 24rem;
}

/* reset ul and a */
ul {
	list-style-type: none;
	padding: 0;
}

a {
	text-decoration: none;
}

/* page header */
.top-menu-bar {
	background-color: #1E426E;
	margin-bottom: 1rem;
}

.top-menu-list {
	margin: 0;
	padding: 0;
	display: flex;
	color: #FFFFFF;
	justify-content: end;
}

.top-menu-list-item a {
	text-transform: uppercase;
	border-left: 1px solid white;
	border-right: 1px solid white;
	height: auto;
	padding: 0.5rem;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 0.8rem;
	text-align: center;
}

.top-menu-list a:visited,
.top-menu-list a:link {
	color: #FFFFFF;
}

.top-menu-list a:hover {
	background-color: #78A04D;
}

h1 {
	text-transform: uppercase;
	color: #1E426E;
	text-align: center;
	font-weight:bolder;
	padding: 0.5rem;
}

.main-menu-bar {
	text-transform: uppercase;
	margin-bottom: 2rem;
	font-weight:bold;
}

.main-menu-list {
	display: flex;
	justify-content: space-around;
}

.main-menu-list a:visited,
.main-menu-list a:link {
	color: #1E426E;
}

.main-menu-list a:hover {
	color: #78A04D;
	text-decoration: underline solid #78A04D;
}

.banner img {
	height: 8rem;
	margin-bottom: 2rem;
}

/* page footer */
.page-footer {
	background-color: #E8F4F9;
	padding: 1rem;
}

.footer-list {
	display: flex;
	justify-content: space-evenly;
	padding: auto;
	margin-top: 1rem;
}

.footer-list a:visited,
.footer-list a:link {
	color: #2A5EA5;
}

.footer-list a:hover {
	color: #78A04D;
}

/* Community */
.community h2 {
	text-align: center;
	padding: 1rem;
}

.community p:nth-of-type(odd) {
	font-weight: bold;
}

.community p {
	padding: 1rem;
}

.tile {
	padding: 1rem;
}

.tile h3 {
	padding: 1rem;
	font-size: 1rem;
	font-weight: lighter;
}

.tile h3 {
	background-color: #1E426E;
}

.tile a:visited,
.tile a:link {
	color: #FFFFFF;
}

.tile a:hover h3 {
	background-color: #2A5EA5;
}

.community-background {
	padding: 1rem;
	background-image: url("../img/building-stronger.png");
	background-repeat: none;
	background-size: cover;
}

.community-transparent {
	padding: 1rem;
	background-color: rgba(255, 255, 255, 0.8)
}

.community-transparent h3 {
	text-align: center;
	font-size: 1.7rem;
	text-transform: uppercase;
	padding: 1rem;
}

.community-transparent p {
	padding: 0.5rem;
}

.your-home-grid {
	display: grid;
	grid-template-columns: 50% 50%;
	grid-template-rows: 33% 33% 33%;
}

.your-home-article {
	padding: 1rem;
}

.your-home-article h2 {
	padding: 1rem;
	text-transform: uppercase;
	text-align: center;
}

.your-home-article p {
	padding-top: 1rem;
}

.text-link a:link,
.text-link a:visited{
	color: #2A5EA5;
}

.text-link a:hover {
	color: #78A04D;
}

.additional-help {
	background-color: #F5F5F5;
	padding: 1rem;
}

.additional-help h2 {
	text-transform: uppercase;
	padding: 1rem;
	text-align: center;
}

.help-box {
	background-color: #FFFFFF;
	margin-top: 1.5rem;
	border: 1px solid #E2E2E2;
	text-align: center;
}

.help-box h3 {
	text-transform: uppercase;
	font-weight: normal;
	font-size: 1rem;
	padding-top: 2rem;
}

.help-box a:link,
.help-box a:visited{
	color: #2A5EA5;
}

.help-box a:hover {
	color: #78A04D;
}

.help-box p {
	padding: 1rem 0 2rem 0;
}